@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    display: flex;
    flex-direction: column;
}

.cabeçalho{
    display: flex;
    flex-direction: column;
  
    width: 100%;
    background:  linear-gradient(97.54deg, #002F52 35.49%, #000000 165.37%);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 10px 100px rgb(0, 1, 90);
}
.link-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-header{
    width: 150px;
    font-size: 36px;
    text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-bottom: 1px solid black;
   padding-bottom: 5px;
  
}
.subtitulo-header{
    margin-top: 5px;
    color:white;
    margin-left: 10px;
    padding-bottom: 5px;
    letter-spacing: 6px;
}

.container-lista-menu{
  position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.botao-menu{
    display: none;
    background-image: url(fotos/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    padding: 10px; 
    margin: 10px ;
    
}

.lista-menu{
    display: flex;
    margin-right: 20px;
    padding: 10px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    justify-content: end;
    }

    .item-lista-menu{
        margin-right: 2rem;
        padding: 5px;
        letter-spacing: 1px;
        border-right: 1px solid rgb(217, 255, 0);
        border-bottom: 1px solid red;

     
    }

    .item-lista-menu:hover{
    background: rgb(30, 38, 35)
    }


    .btn-serviço-ativo{
      background-color: #000000;
    }
 

    

    .menu-lateral{
        position: absolute;
        display: flex;
        flex-direction: column;
        width:55%;
        height: 500px;
        background-color: #002F52;
        color: white;
        margin-top: 124px;
        margin-left: -100%;
        transition: 1s;
        z-index: 10;
    }

    .menu-lateral-ativo{
        margin-left: 0;
        transition: 1.2s;
    }

  .lista-menu-lateral{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
  
    
  }

  .item-lista-menu-lateral{
    margin: 25px 0;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    width: 100%;
    box-sizing: border-box;
  }

  .item-lista-menu-lateral:hover{
 background: #ffd90048;
 transition: .5s;
  }
  
  .container-serviços{
    position: absolute;
    background-color: #002F52;
    width: 40%;
    margin-top: 126px;
    align-self: flex-end
    ;
    display: none;
    flex-direction: column;
    border-radius: 10px 10px 25% 25%;
    z-index: 10;
    
    
  }
  .container-serviços-ativo{
       display: flex;
        transition: 1s;
       
  }
 

  .lista-serviços{
    margin: 10px;
    position: relative;
    background-color: #ff0000;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr  ;
gap: 10px;
border-radius: 10px;
padding: 5px ;
    }

  .item-lista-serviços{
    
display: grid;
grid-template-rows: 1fr 1fr;

border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 10px;

  }

  .logo-item-serviços{
    margin: auto;
    width: 50px;
  }

  .titulo-item-serviços{
    margin: auto;
  }

  .botao-saibaMais-serviços{
    background-color: yellow;
    font-size: 18px;
    align-self: center;  
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }



    






  .container-conteudo-principal{
    background-image: url(https://gestaodesegurancaprivada.com.br/wp-content/uploads/servico-seguranca-privada-23.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    object-fit: contain;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-template-areas: 
    " titulo titulo"
    " logo texto"
    ;
  }

  .desfoque-pagina{
    opacity: 50%;
    transition: .5s;
   
  }

  .conteudo-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .titulo-conteudo-principal{
   grid-area: titulo; 
   justify-self: left;
   align-self: center;  
   color: #FFD700;
   font-size: 28px;
   margin-left: 20px;
   
  
  }

  .logo-empresa{
  grid-area: logo;
  justify-self: center;
  align-self: center;
  }


  .texto-conteudo-principal{
grid-area:  texto;
align-self: center;
color: white;
background-color: #002F52;
padding: 10px;
  }

  .rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 79, 79);
    padding: 20px;
  }

  .titulo-footer{
    font-size: 20px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;



  }



  .atendimento{
    display: flex;
    width: 100%;
     margin: 50px 0 0;
   text-align: center;
      }

  .lista-atendimento{
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #002F52;
    width: 90%;
    height: 200px;
    font-size: 22px;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  .img-atendimento{
    border: 3px solid red;
    border-radius: 50%;
    animation: piscar .5s infinite;

    
  }
  
  @keyframes piscar {
    0%,
    100% {
   
        border-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.707);
    }
    50% {
  
        border-color: rgb(255, 0, 0);
        background-color: rgb(0, 0, 0);
    }
}

.titulo-atendimento{
  padding: 10px;
  text-align: center;
}




















  
  @media screen and ( max-width:900px){
    .lista-menu{
      display: none;
    }

    .botao-menu{
      display: block;
    }

     .lista-atendimento{
      width: 100%;
      font-size: 14px;
     }

     .img-atendimento{
      width: 50px;
     }
  }

  
