@font-face {
   font-family: 'icones';
   src: url(../font/icones.ttf);
}
.desfoque-pagina{
   opacity: 50%;    
   transition: .7s;  
}

body{
    display: flex;
    flex-direction: column;
   background: #000000d9;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

.cabeçalho{
   position: fixed;
   z-index: 10;
   display: flex;
   justify-content: space-around;
   width: 100%;
   background:  linear-gradient(97.54deg, #002F52 35.49%, #000000 165.37%);
   color: white;
   padding: 5px;
   box-sizing: border-box;
  }

.cabeçalho-ativo{
   box-shadow:  100px 0 300px rgb(0, 0, 0);
   border-bottom: 1px solid white;
}

.logo-header{
   margin-left: 10%;
}
.link-header{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.titulo-header{
    width: 150px;
   font-size: 26px;
   text-align: center;
   border-bottom: 1px solid orange;
   padding-bottom: 5px;
  }
.subtitulo-header{
   font-size: 14px;
   width: fit-content;
   margin-top: 5px;
   color:white;
   padding-bottom: 5px;
   letter-spacing: 6px;
}

.container-lista-menu{
   display: flex;
   justify-content: center;
   width: 100%;
   align-items: center;
   }

.botao-menu{
    display: none;
    background-image: url(fotos/Menu\ Aberto.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px; 
    margin: 10px 30px ;       
}

.lista-menu{
    display: flex;
    color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5em;
    }

    .item-lista-menu{
      align-self: center;
        margin-right: 2rem;
        padding: 5px  10px;
        border-right: 1px solid orange;
        border-bottom: 1px solid orange;
         box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.426);

     
    }

  
    
     


    .btn-serviço-ativo{
      background-color: yellow;
      color: #002F52;
     
    }
 

    

    .menu-lateral{
        position: absolute;
        display: flex;
        flex-direction: column;
        width:55%;
        height: 500px;
        background-color: #002F52;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        color: white;
        margin-top: 124px;
        margin-left: -100%;
        opacity: 20%;
        transition: 1.5s;
        z-index: 10;
    }

    .menu-lateral-ativo{
      position: fixed;
        margin-left: 0;
        transition: 1.2s;
        opacity: 100%;

    }

    .titulo-menu-lateral{
      margin: 20px auto;
      width: 150px;
      font-size: 28px;
      text-align: center;
    
     border-bottom: 1px solid black;
     padding-bottom: 5px;
    }

  .lista-menu-lateral{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 12px;
    margin-top: 50px;
  
    
  }

  .item-lista-menu-lateral{
    
    padding: 25px 10px ;
    margin: 1px 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid orange;
    transition: 1s;
  }

  .item-lista-menu-lateral:hover{
 background: #ffd90048;
 transition: 1s;
  }
  
  
.serviços {
  margin-top: 50px;
  width: 100%;
   padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;


}

.titulo-serviços {
  color: white;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 22px;
  margin: 10px;


}

.lista-serviços {
   width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}


.item-servico {
  background: #ffffffb9;
  display: flex;
  width: 220px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 18px 19px 29px black;
  margin: auto;

}

.img-serviços {
  width: 50px;
  height: 50px;
  
}

.titulo-item-servico {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
     letter-spacing: 2px;
}

.texto-item-servico {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}










#slider {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: aliceblue;
}

#slider img{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 3s;
  object-fit: cover;


}

#slider img.selected{

  opacity: 1;
}

  .container-informaçoes{
    width: 50%;
    height: 100px;
    color: #ffffff;
    position: absolute;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
  }


  .apresentaçao{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000;

  }

  .titulo-apresentaçao{
    background-color: #002f5291;
    border-radius: 5px;
    font-size: 38px;
    margin-top: 20px;
    padding: 15px;
  }
  .texto-apresentaçao{
     background-color: #002f5264;
    border-radius: 5px;
    margin-top: 20px;
   font-size: 28px;
   padding: 15px;


  }




  .conteudo-pagina{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin:  50px auto;
    box-sizing: border-box;

    position: relative;
    
    
  }

  .apresentaçao{
    margin: 50px 0;
  }

  
.beneficios{
  display: flex;  
  justify-content:space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 500px;
  margin: 10px 0 ;
  


}

.texto-beneficios{
  color: azure;
  font-size: 16px;
  letter-spacing: 1px;
 width: 100%;
 height: fit-content;
 background-color: rgba(0, 0, 0, 0.82);
  padding: 15px;
 box-sizing: border-box;


 
 
 
}

.slider-beneficios{

  width: 45%;
  height: 500px;
  overflow: hidden;
 

 
}



input[type=radio] {
  display: none;
}


.s2, .s3, .s4, .s5{
  transition: 2.5s;
  opacity: 10%;
  scale: 0.6;

  
  
}



#item-m2:checked~.s2{
  scale: 1;
  opacity: 100%;
  
}

#item-m3:checked~.s3{
  scale: 1;
  opacity: 100%;
}

#item-m4:checked~.s4{
  scale: 1;
  opacity: 100%;
}

#item-m5:checked~.s5{
  scale: 1;
  opacity: 100%;
}





#item-m2:checked~.s1 {
margin-top: -500px;
transition: 2.5s;
scale: 0.8;
opacity: 10%;


}
#item-m3:checked~.s1 {
  margin-top: -1000px;
  transition: 2.5s;
  }
  #item-m4:checked~.s1 {
      margin-top: -1500px;
      transition: 2.5s;
      }
      #item-m5:checked~.s1 {
          margin-top: -2000px;
          transition: 2.5s;
          }


     
              
              











.item-slide-beneficios{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;




 
 
 
  

}

.s1{


  background-image: url(fotos/Sem\ título.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 80%;
  




}



.s2{

  background-image: url(https://images.unsplash.com/photo-1541888946425-d81bb19240f5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uc3RydSVDMyVBNyVDMyVBM298ZW58MHx8MHx8fDA%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.s3{

  background-image: url(https://correateles.com.br/wp-content/uploads/2020/01/construction-worker-scaled-e1627506064312-1536x945.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

.s4{

  background-image: url(https://img.freepik.com/fotos-premium/uma-foto-de-uma-cidade-com-equipamentos-de-construcao-na-frente-dela_925376-426.jpg?w=740);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

.s5{

  background-image: url(https://italicohomes.com/wp-content/uploads/2021/09/1_1-Photo-1-768x432.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}



.container-botoes-beneficions{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 60%;

  
 


}


.bt-bnf{

font-size:14px;
text-align: center;
 color:orange;
 font-weight: bold;
  width: 100%;
  letter-spacing: 3px;
  cursor: pointer;
   height: 20%;
  padding: 10px;
  box-sizing: border-box;

    
}
.m1{
  
 animation: piscar 2s infinite alternate;
}

@keyframes piscar {
  from {
  
    border-right: 1px solid rgba(255, 0, 0, 0.365);
  }
  to {
    border-right: 10px solid rgba(255, 0, 0, 0);
  }
}

.m2{
  
  animation: piscar 4s infinite alternate;
 }
 
 @keyframes piscar {
   from {
   
     border-right: 1px solid rgba(255, 0, 0, 0.365);
   }
   to {
     border-right: 10px solid rgba(255, 0, 0, 0);
   }
 }

 .m3{
  
  animation: piscar 6s infinite alternate;
 }
 
 @keyframes piscar {
   from {
   
     border-right: 1px solid rgba(255, 0, 0, 0.365);
   }
   to {
     border-right: 10px solid rgba(255, 0, 0, 0);
   }
 }
 .m4{
  
  animation: piscar 8s infinite alternate;
 }
 
 @keyframes piscar {
   from {
   
     border-right: 1px solid rgba(255, 0, 0, 0.365);
   }
   to {
     border-right: 10px solid rgba(255, 0, 0, 0);
   }
 }










.bt-bnf:hover{
    border-bottom: 1px dashed red;
   transform: scale(1.1);
   transition: 1s;


}








  .apresentaçao-serviços{
    margin-top: 50px;
    width: 80%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
    border-radius: 20px;
    box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.229);
  }

  .titulo-slide-serviço{
    font-size: 24px;
    letter-spacing: 2px;
    padding: 25px;
    color: wheat;
    text-align: center;
  }

  .container-slider{

    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 20px;
  
   

  }




  .img-slide-serviços{
    margin: 0 45px;
    width: 20%;
    box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.426);
   
      }

      
      .m1-ativo{
        margin-left: -45%;



        transition: 3s;
      }

      .m1-desativado{
          margin-left: 60px;



        transition: 3s;
      }





      .botoes-slide{
        width: 75%;
        margin: 40px auto;
        display: flex;
        justify-content: space-around;
        font-size: 22px;
  
      }


      .bt-esquerdo, .bt-direito{
        width: 15%;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.435);
        box-shadow: inset 1px 2px 5px rgba(255, 255, 255, 0.342);
        cursor: pointer;
      }
      
     
      
 

















.rodape{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:orange;
  padding: 20px;
  
}

.titulo-footer{
  font-size: 14px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;



}



.item-servico{
  margin: 1px 1px;
  width: 280px;
  font-size: 18px;
 }

}


@media screen and (max-width:960px) {
  .logo{
      width: 100px;
      height: 100px;
      margin: 50px 50px;
  }

  .titulo-apresentaçao{
      font-size: 18px;
  }
  .texto-apresentaçao{
      font-size: 14px;
  }
  .texto-beneficios{
      font-size: 14px;
  }

  .apresentaçao, .beneficios, .serviços{
    margin: 50px 0;
  }

 

  

}

@media screen and (max-width:730px) {


  .titulo-apresentaçao{
      width: 60%;
      font-size: 14px;
  }
  .texto-apresentaçao{
      width: 90%;
      font-size: 12px;
  }
 
  .titulo-item-servico{
      font-size:14px ;
  }

  .texto-item-servico{
      font-size:12px ;
  }

  .bt-bnf{
      font-size:16px;
  }

  .beneficios{
      display: flex;  
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      
  }
.container-botoes-beneficions{
  width: 100%;
  height: 120px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto 0;

 
}

.container-botoes-beneficions{
  border: none;
}

.bt-bnf{
  width: 45%;
  font-size: 14px;
  margin: 3px;
padding: 10px;
  letter-spacing: 1px;
  height:40px;
}
.titulo-lista-sobre{
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size:18px;
  padding: 10px 10px;
  color: white;
  letter-spacing: 3px;
}


.slider-beneficios{
 
  width: 100%;
  overflow: hidden;
   

}

.item-slide-beneficios{
   width: 100%;
  height: 100%;
}

.item-servico {
  background: #ffffffb9;
  display: flex;
  width: 65%;
}

.contato{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;

}


.informaçao-contato{
  width: 80%;
  color: white;
  
}
.link-contato{
  width: 80%;

}
.img-contato{
  margin-right: 10px;
}


}




  
  @media screen and ( max-width:900px){
.logo-header{
  margin: auto;
}

    .lista-menu{
      display: none;
    }
 
    .botao-menu{
      display: block;
    }

     .lista-atendimento{
      width: 100%;
      font-size: 14px;
     }

     .img-atendimento{
      width: 50px;
     }
     .conteudo-pagina{
      width: 100%;
     }

     .container-informaçoes{
      width: 90%;
     }
  }

  
